.women-page-container {
    background-size: cover;
    background-image: url('/src/images/background-women-page.JPG');
}

.clothing-section {
    position: relative;
    display: flex;
    z-index: 100;
}
