.modal-clothing-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal-clothing-overlay.show {
    visibility: visible;
}

.modal-clothing-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 42vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    /* Evita que el contenido se desborde */
}

.clothing-modal-add-to-cart-icon{
    background-color: white;
    width: 5vw;
    height: 4.8vw;
    padding: 0px;
    border-radius: 5px;
    position: absolute;
    bottom: 4.5vw;
    right: 3vw;
    padding: 2px;
}

.clothing-modal-details-label-color{
    font-family: Permanent Marker;
    font-size: 1.6vw;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1500;
    bottom: 9.8vw;
    right: 3vw;
    border-radius: 5px;
}

.clothing-modal-details-label-size{
    font-family: Permanent Marker;
    font-size: 1.6vw;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 1500;
    bottom: 12.6vw;
    right: 3vw;
    border-radius: 5px;
}


.clothing-modal-slider-container {
    width: 95%;
    height: 100%;
    margin: auto;
}



.close-clothing-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.modal-clothing-content .slick-prev:before,
.modal-clothing-content .slick-next:before {
    font-size: 24px;
    color: #0000006c;
    /* Asegúrate de que el color se aplique */
}


/* Estilos para Nest Hub y Nest Hub Max */
/* Estilos para Nest Hub y Nest Hub Max */


/* Estilos para Nest Hub y Nest Hub Max */
@media only screen and (min-width: 1024px) and (max-width: 1280px) and (min-height: 600px) and (max-height: 800px) and (orientation: landscape) {
    .modal-clothing-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 53vw;
        max-height: 100vh;
        overflow: hidden;
        /* Evita que el contenido se desborde */
        /* Tus estilos específicos para Nest Hub y Nest Hub Max */
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) and (min-height: 1366px) and (max-height: 1366px) and (orientation: portrait) {
    .modal-clothing-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 80vw;
        max-height: 100vh;
        overflow: hidden;
        /* Evita que el contenido se desborde */
        /* Tus estilos específicos para Nest Hub y Nest Hub Max */
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1366px) and (min-height: 1024px) and (max-height: 1024px) and (orientation: landscape) {
    .modal-clothing-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        width: 65vw;
        max-height: 100vh;
        overflow: hidden;
        /* Evita que el contenido se desborde */
        /* Tus estilos específicos para Nest Hub y Nest Hub Max */
    }
}