/* Estilos del overlay */
.modal-color-overlay {
    position: absolute; /* Cambiado a fixed para que el modal se muestre en la misma posición en la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
  }
  
  /* Modal visible */
  .modal-color-overlay.show {
    visibility: visible;
    opacity: 1;
  }
  
  /* Estilos del contenido del modal */
  .modal-color-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    max-height: 80vh; /* Ajustado para una altura máxima razonable */
    overflow-y: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    font-family: Permanent Marker, sans-serif; /* Asegura una fuente de respaldo */
  }
  
  .color-modal-close-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Coloca el botón en la esquina superior derecha */
  }
  
  .close-color-button {
    all: unset;
    cursor: pointer;
    font-family: Permanent Marker, sans-serif;
    color: brown;
  }
  
  .color-modal-colors-wrapper {
    display: flex;
    flex-wrap: wrap; /* Permite que los colores se ajusten en varias filas si es necesario */
    justify-content: center; /* Centra los elementos en el contenedor */
    width: 100%;
  }
  
  .color-thumbnail {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    margin: 5px; /* Espacio entre los colores */
    border-radius: 50%; /* Forma circular */
    cursor: pointer; /* Cambia el cursor al pasar sobre los colores */
    transition: border 0.3s ease; /* Transición suave para el borde */
  }
  
  .color-thumbnail:hover {
    border-color: #333; /* Cambia el color del borde al pasar el mouse */
  }
  
  
  /* Estilos del c
  

  