/* styles/Menu_button.css */
.menu-button.show {
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-150%);
    font-family: Permanent Marker;
    background-color: white;
    height: 8vw;
    width: 8vw;
    font-size: 20px;
}

.menu-button.hide {
    display: none;
}
