/* styles/Menu_button.css */
.menu-button.show {
    position: fixed;
    height: 3%;
    border-radius: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.menu-button.hide {
    
    display: none;
}
