.navigationbar-container{
    height: 40px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
}

.navigationbar-container label{
    margin: auto;
     font-size: 22.5px; 
    letter-spacing: 5px;
    font-family: Creepster;
    
}

@media (max-width: 768px) {
    .navigationbar-container label{
        margin: auto;
         font-size: 14.5px; 
        letter-spacing: 5px;
        font-family: Creepster;
        
    }
}