.shopping-cart-button{
    position: fixed;
    background-color: white;
    padding: 2px;
    top: 50%;
    left: 0;
    transform: translateY(120%);
    z-index: 2000;
    border-radius: 10px;
    height: 2.5vw;
    width: 2.5vw;
}

.shopping-cart-container.hide{
    display: none;
}



@media (max-width: 768px) {
    .shopping-cart-button{
    position: fixed;
    background-color: white;
    padding: 2px;
    top: 50%;
    left: 0;
    transform: translateY(120%);
    z-index: 2000;
    border-radius: 10px;
    height: 8.5vw;
    width: 8.5vw;
}

.shopping-cart-container.hide{
    display: none;
}

}